<nav class="navbar level">
    <p class="level-item has-text-centered">
        <a class="link is-info" href="/">Home</a>
    </p>
    <p class="level-item has-text-centered">
        <a class="link is-info" href="/saved">Saved Articles</a>
    </p>
    <p class="level-item has-text-centered title-text">
        RUNESCRAPE
    </p>
    <p class="level-item has-text-centered wrap-scrape">
        <a href="/scrape">
            <button class="button scrape-button">Scrape New News!</button>
        </a>
    </p>
</nav>
<section class="section">
    <div class="container content">
        {{#if article}} {{#each article}} {{#if saved}}
        <div class="new-article" data-id="{{_id}}">
            <div class="columns">
                <div class="column is-11">
                    <h1 class="a-title">{{title}}</h1>
                </div>
                <div class="column is-1">
                    <button class="button unsave-article is-danger">Unsave</button>
                    <button class="button showModal is-info">Comment</button>
                </div>
            </div>
            <a href="{{link}}" target="_blank">{{summary}}</a>
        </div>
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <h1 class="modal-title">Comments</h1>
                    <div class="comment-section">
                        <ul>
                            {{#each note}}
                            <li>
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea id="user-comment"class="textarea" placeholder="Comment Here"></textarea>
                        </div>
                    </div>
                    <div data-id="{{id}}" class="field">
                        <div class="control">
                            <button id="submit-comment" class="button is-link">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        {{/if}} {{/each}} {{else}}
        <p>No articles to show. Please add some to your saved list.</p>
        {{/if}}
    </div>
</section>